<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand">Plant Shop</a>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-toggle="dropdown" aria-expanded="false">Администратор
            </button>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item active" href="#">Товары</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Выход</a></li>
            </ul>
        </div>

    </div>
</nav>
<section>
    <div th:if=${session.msg}>
        <div class="alert alert-success" role="alert" th:text="${session.msg}">
        </div>
        <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-block">
                <table class="table table-success table-striped table-hover table-bordered border-secondary mt-1 caption-top"
                       style="text-align: center">
                    <caption>Список товаров</caption>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Изображение</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Управление</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="product: ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:src="${product.image}" img class="rounded mx-auto d-block"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <a class="btn btn-sm btn-secondary" th:href="'/admin/'+${product.getId()}+'/edit'">Изменить</a>
                            <a class="btn btn-sm btn-danger" th:href="'/admin/?method=delete&id='+${product.getId()}">Удалить</a>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <a th:href="@{/admin/addNewProduct}" style="margin: 30px 0" class="btn btn-secondary">Добавить новый товар</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{static/main.js}" src="../static/main.js"></script>
</section>
</body>
</html>