<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
</head>
<body>
<section>
    <center>
        <h3>Мой Аккаунт</h3>
        <h3>Имя: [[${user.firstName}]]</h3>
        <h3>Фамилия: [[${user.lastName}]]</h3>
        <h3>Email: [[${user.email}]]</h3>
        <h3>Номер Телефона: [[${user.mobileNumber}]]</h3>
    <a class="btn btn-secondary" href="/user/editProfile" role="button">Изменить профиль</a>
    <a class="btn btn-secondary" href="/logout" role="button">Выход</a>
    </center>
</section>
</body>
</html>